body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #cccccc;
    font-family: 'Courier New', Courier, monospace;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#counter-board{
    font-size: 30px;
}

.buttons-section button{
    padding: 6px 12px;
    cursor: pointer;
}